<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LV Social Wall{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <a href="{{ path('connect_linkvalue_start') }}">LOGIN</a>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
